body{    
    font-family: 'Macondo';
}
#container{
    margin: 0 auto;
    width: 80%;
    margin-left: 10%;
    padding: 20px;
}

.imagen{
    width: 30%;
    height: 30%;
    margin: 1.4%;
}
h1 {
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    /*text-decoration: underline;*/
    /*text-decoration-color: red;*/
    border-bottom: 2px solid red;
    width: 30%;
    margin: 0 auto;

}
h3 {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: #36737e;
}
footer{
    padding: 30px;
}
footer a{
    background-color: #96d7e2;
    opacity: 75%;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    float: right;    
}