.completo{
    text-align: center;
    padding: 5rem;
}
.completo * {
    margin: 0 auto;
}

.pan{
    background-color: rgba(255, 145, 0, 0.5);
    width: 30rem;
    min-height: 4rem;
}
#pan1{    
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom: 1rem solid rgba(255, 145, 0, 0.705);

}
#pan2{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
    border-top: 1rem solid rgba(255, 145, 0, 0.705);
    
}
.vienesa{
    background-color: rgb(168, 43, 43);
    width: 35rem;
    min-height: 3rem;
    border-radius: 2rem;
    position:relative;
}